.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.title {
    font-size: 96px;
    font-weight: 700;
    font-style: Bold;
}

.red-text {
    color: rgba(164, 22, 26, 1);
}

.description {
    font-size: 32px;
    font-weight: 400;
    font-style: Regular;
    color: rgba(0, 0, 0, 1);
    margin: 10px 0 20px 0;
}

.welcome-text {
    font-size: 40px;
    font-weight: 400;
    font-style: Regular;
    color: rgba(0, 0, 0, 1);
    margin: 10px 0 20px 0;
}

.major-text,
.minor-text {
    font-size: 40px;
    font-weight: 400;
    font-style: Regular;
    color: rgba(0, 0, 0, 1);
    margin: 10px 0 20px 0;
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
}