.major-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F5F3F4;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    cursor: pointer;
}

.major-box-title {
    font-size: 2rem;
    font-weight: bold;
}

.major-box:hover {
    background: #D3D3D3;
}

.major-box.selected {
    background: #FFD700;
}