.navbar {
    background-color: #A4161A;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Inter;
}

.left-items,
.right-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
}

.left-items {
    gap: 40px;
}

.right-items {
    gap: 20px;
}

.left-items a,
.right-items a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

.left-items.images {
    height: 50px;
    margin-right: 10px;
}