.navbar {
    background-color: #A4161A;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Inter;
}

.left-items,
.right-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
}

.left-items {
    gap: 40px;
}

.right-items {
    gap: 20px;
}

.left-items a,
.right-items a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

.left-items.images {
    height: 50px;
    margin-right: 10px;
}

.right-items button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0px;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    /* display: none; */
    position: absolute;
    background-color: #f9f9f9;
    padding: .75rem;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    top: calc(100% + .25rem);
    right: 0;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    pointer-events: none;
}

.dropdown > button:focus + .dropdown-content {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.button {

}